{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>404</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />

    <!--Theme Styles CSS-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" media="all" />

</head>
<body class="error_body">
    <div class="error_area">
        <h1>404</h1>
        <p>The page you were looking for does not exist!</p>
        <a href="{% url 'home:home' %}" class="waves-effect visit_homepage">Visit homepage</a>
    </div>
</body>

</html>